<div class="row">
    <div class="column">
        <h1 style="margin-right:50px;"> <%= @user.username %> </h1>
    </div>
    <div class="column">
        <div class="row">
            <div class="column profile_posts">
                <strong> Followers </strong>
                <p></p>
            </div>
            <div class="column profile_posts">
                <strong>  Followings </strong>
                <p></p>
            </div>
            <div class="column profile_posts">
                <strong> Posts </strong>
                <p><%= @user.posts.length %></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <% @posts.each do |post| %>
        <div class="column-sm profile_posts">
        <a href="/posts/<%= post.id %>"><img src="<%= post.image %>" width=256 height=256></a>
        </div>
    <%  end %>
</div>